@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "enhanced_led_board-7";
  src: url("/pong/base/enhanced_led_board-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitanOne-Regular";
  src: url("/pong/base/TitanOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gamer";
  src: url("/runner/fonts/Gamer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Add these styles to your CSS file */

.swiper-pagination-bullet {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 100px;
  background-color: #eee;
  margin-left: 5px;
  margin-right: 5px;
}

.swiper-pagination-bullet-active {
  background-color: cyan;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.font-stroke {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
